body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    height: 85px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.btn1 {
    background-color: #0c59ac;
    color: white;
    border: none;
    padding: 15px 27px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn {
    background-color: #004a99;
    color: white;
    border: none;
    padding: 15px 27px;
    margin-right:60px ;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.social-icons i {

    margin-right: 10px;
    color: #333;
    cursor: pointer;
    margin-bottom: 20px ;
}
.social-icons i:hover{
    color: #2370c2;
}
.one{
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
nav {
    background-color: #fff;
    padding: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
nav li {
    cursor: pointer;
    font-weight: bold;
}
.login-container {
    max-width: 90%;
    background: white;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.login-container h2 {
margin-left: 20px;
color: #373434;
font-size: 30px;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-top: 10px;
}
form input {
    padding: 10px;
    margin-top: 5px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);}
.login-btn {
    margin-top: 15px;
    background-color: #2370c2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.column {
    width: 23%;
}
h3 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: url(logo-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 25%;
    
}
.column {
    width: 23%;
}
h3 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
.footer {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
    margin-top: 20px;
}
.footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
}
.footer ul li {
    margin: 0 15px;
}
.social-icons {
    margin-top: 10px;
}
